.flex{
    display: flex;
    gap: 5rem;
}
.itemDetailContainer{
    padding-top: 5rem;
    justify-content: center;
    background-color: #FFA559;
    height: 100vh;
}
.containerRow span{
    font-style: italic;
    font-size: 20px;
}
.productTitle{
    font-size: xx-large;
    font-weight: 500;
}
.productItem{
    font-size: 20px;
}
.detailImg{
    max-height: 30rem;
    border: solid black;
}
